.schedule-talk.schedule-day1
  div.panel-title
    h3 Women in Tech Panel

  div.panel-bio
    img.panel-bio__image(src="speakers/women-in-tech/amanda-harlin.jpg", alt="Amanda Harlin")
    div.panel-bio__title Amanda Harlin
    p Amanda is a JavaScript developer located in Norman, Oklahoma. Working toward improving the tech community for local developers, Amanda organizes Thunder Plains and OKCjs. Amanda is also a co-founder of Techlahoma.
    p 
      a(href="https://twitter.com/amandaharlin") Twitter

  div.tab-content
    div.tab-pane.active
      div.panel-bio
        img.panel-bio__image(src="speakers/women-in-tech/ofi-ochoa.jpg", alt="Ofi Ochoa")
        div.panel-bio__title Ofi Ochoa
        p Ofi is the President of Nerdy Girls, a group for local women to meet and share ideas and creativity. Ofi is also a developer for Quail Creek Bank, and a diehard Star Wars fan. Follow her on Twitter
        p 
          a(href="https://twitter.com/ofiwankenobi") Twitter


  div.panel-bio
    img.panel-bio__image(src="speakers/women-in-tech/trisha-salas.jpg", alt="Trisha Salas")
    div.panel-bio__title Trisha Salas
    p Hailing from Tulsa, Trisha is a front end developer and true champion for web accessibility. In addition to her work on the WordPress Accessibility Team, she also works with Modern Tribe to drive improvement initiatives for The Events Calendar suite of plugins.
    p 
      a(href="https://twitter.com/trishacodes") Twitter

  div.panel-bio
    img.panel-bio__image(src="speakers/women-in-tech/susan-simkins.jpg", alt="Susan Simkins")
    div.panel-bio__title Susan Simkins
      p Susan is a web developer based in Oklahoma City. She is a front-end developer at BigWing Interactive. Susan completed her Bachelor's degree at Oklahoma State University in political science. She is a frequent speaker at RefreshOKC, a web design group in Oklahoma City.
      p 
        a(href="https://twitter.com/SusanMSimkins") Twitter
