p Christina is currently a frontend engineering student at The Iron Yard in Nashville. She is the previous community manager at RethinkDB, an open-source database that makes easier to build realtime apps, and at Horizon, an open-source realtime backend for JavaScript apps. She is currently volunteering to transition both projects to community-driven development. She studied Fashion Design and Psychology, but loves her new role exploring tech and learning JavaScript. She loves kitties, Mother Earth, space, cooking, and "the art of slow living" :D

p Go send her cute memes on Twitter @christinakeelan.
