p When life hands your open source project lemons... 🍋  (A RethinkDB case study in community crisis)

p Most of us have experienced unexpected crisis at some point in our lives. The way we handle crisis has a direct impact on the lasting effects the event can have, but with proper tools and preparedness, your community can not only make it through the rough patch.. it can actually thrive!

p In this talk, I'll share best practices to support your open source community during times of crisis. I'll also use my experiences from RethinkDB and Horizon during our recent shut down and show you how you can (try to!) smoothly transition from a traditional business model to community-driven development.

p I'll also deep-dive into OSMI (Open Sourcing Mental Illness) and share how you can utilize this resource, and other's like it, to keep your personal sanity, as well as the health of your community.

p Times of crisis don't have to have a long-lasting negative effect on your project. With these tools, I hope to show you how you can make lemonade! 🍋
