div.speaker-bullets
  a(href="https://twitter.com/kentcdodds").speaker-bullet 
    i.fa.fa-twitter 
    label kentcdodds
  a(href="https://github.com/kentcdodds").speaker-bullet 
    i.fa.fa-github 
    label kentcdodds  
  a(href="http://kentcdodds.com/").speaker-bullet 
    i.fa.fa-globe 
    label kentcdodds.com
