h2.slide__title Afterparty Sponsor
  .slide__content
    .slide__content__logo
      a(href="https://rollbar.com/")
        img(alt="Rollbar - Full-stack error tracking" src="images/sponsors/rollbar.png")