h2.slide__title Bronze Sponsors
  .slide__content
    .slide__content__logo
      a(href="https://www.roberthalf.com/")
        img(alt="Robert-Half Technology" src="images/sponsors/robert-half.jpg")
    .slide__content__logo
      a(href="http://skywise.wdtinc.com")
        img(alt="WDT Skywise APIs" src="images/sponsors/skywise-horizontal.png")
    .slide__content__logo
      a(href="https://www.remarq.io/")
        img(alt="Remarq.io" src="images/sponsors/remarq.png")