h2.slide__title Schedule

.slide__schedule
  .slide__schedule__slot
    | 9:00am-9:30am Opening Announcements
  .slide__schedule__slot
    | 9:30am-10:30am Women in Tech Panel
  .slide__schedule__slot
    | 10:30am-11:30am Intro to Machine Learning 
  .slide__schedule__slot
    | 11:30am-1:00pm Lunch Break 
  .slide__schedule__slot
    | 1:00pm-2:00pm Scary JavaScript that knows if you've been bad or good 
  .slide__schedule__slot
    | 2:00pm-3:00pm Testing the Web for Accessibility: Free Tools and Techniques that Won't Break the (Resource) Bank 
  .slide__schedule__slot
    | 3:00pm-4:00pm Break 
  .slide__schedule__slot
    | 4:00pm-5:00pm React + ES.next = ♥ 
  .slide__schedule__slot
    | 5:00pm-6:00pm JavaScript in the Ivory Tower 