h2.slide__title Schedule

.slide__schedule
  .slide__schedule__slot
    | 9:00am-9:30am Opening Announcements
  .slide__schedule__slot
    | 9:30am-10:30am Civic Coding Panel
  .slide__schedule__slot
    | 10:30am-11:30am Horizontally Scaling Node.js and WebSockets
  .slide__schedule__slot
    | 11:30am-1:00pm Lunch Break 
  .slide__schedule__slot
    | 1:00pm-2:00pm Actually Understanding Asynchronous JavaScript
  .slide__schedule__slot
    | 2:00pm-3:00pm Continous Security
  .slide__schedule__slot
    | 3:00pm-4:00pm Break 
  .slide__schedule__slot
    | 4:00pm-5:00pm 
  .slide__schedule__slot
    | 5:00pm-6:00pm Javascript in weird places: RPG Maker, Hardware, Education, and why it all matters