h2.slide__title Silver Sponsors
  .slide__content
    .slide__content__logo
      a(href="https://www.dynatrace.com/")
        img(alt="DynaTrace" src="images/sponsors/dynatrace.png")
    .slide__content__logo
      a(href="http://www.mobiletappestry.com/")
        img(alt="Mobile tAPPestry" src="images/sponsors/mobiletappestry.png")
    .slide__content__logo
      a(href="https://www.ok.gov/ocast/")
        img(alt="OCAST" src="images/sponsors/ocast.png")