h2.slide__title T-Shirt Sponsor
  .slide__content
    .slide__content__logo
      a(href="https://www.compose.com/")
        img(alt="Compose - Cloud Hosted Databases" src="images/sponsors/compose.png")
