p Based out of Norman, Oklahoma, Jesse is an experienced full-stack developer at the forefront of JavaScript and front-end technologies. He has a deep understanding of multiple programming languages, libraries, patterns, and software development processes.

p He's cha-cha crazy for JavaScript, Synthesizers, and Amanda Harlin. Jesse is also co-founder for Techlahoma and is a leader member of the Oklahoma technology community.