div.speaker-bullets
  a(href="https://twitter.com/adam_baldwin").speaker-bullet 
    i.fa.fa-twitter 
    label adam_baldwin
  a(href="https://github.com/evilpacket").speaker-bullet 
    i.fa.fa-github 
    label evilpacket 
