| This talk will discuss how to shift culture to give application security the attention that it needs and how to adopt a continuous security process for your team, one that isn't obstructive and annoying but enabling so you can write better, more secure software.
