.schedule-talk.schedule-day1
  div.panel-title
    h3 Civic Coding

  div.tab-content
    div.tab-pane.active
      div.panel-bio
        img.panel-bio__image(src="speakers/civic-coding/brittany-bertwanger.jpg", alt="Brittany Bertwanger")
        div.panel-bio__title Brittany Bertwanger
        p Brittany is a developer located in Tulsa, Oklahoma. She is a member of Tulsa Web Devs, and has spoken at Tulsa Tech Fest.
        p 
          a(href="https://twitter.com/brittberwanger") Twitter

      div.panel-bio
        img.panel-bio__image(src="speakers/civic-coding/matt-chandler.jpg", alt="Matt Chandler")
        div.panel-bio__title Matt Chandler
        p Matt is a developer for Hobby Lobby in Oklahoma City. He is also a co-organizer for Code for OKC and an open-source enthusiast.
        p 
          a(href="https://twitter.com/mkchandler") Twitter

      div.panel-bio
        img.panel-bio__image(src="speakers/civic-coding/beth-knight.jpg", alt="Beth Knight")
        div.panel-bio__title Beth Knight
        p Beth is a Rails developer in Tulsa at Shipzen. She is a member of Tulsa Web Devs and built Votebyte, an iOS app to track elections and improve voter turnout.
        p 
          a(href="https://twitter.com/bethknight1234") Twitter

      div.panel-bio
        img.panel-bio__image(src="speakers/civic-coding/catherine-lippert.jpg", alt="Catherine Lippert")
        div.panel-bio__title Catherine Lippert
        p Catherine is a developer in Oklahoma City and a co-organizer for Code for OKC. She is a developer and currently works as a project manager for Praeses.
        p 
          a(href="https://twitter.com/cahiller") Twitter

      div.panel-bio
        img.panel-bio__image(src="speakers/civic-coding/carlos-moreno.jpg", alt="Carlos Moreno")
        div.panel-bio__title Carlos Moreno
        p Carlos is a digital strategist for Dreamclinic Creative, as well as a co-captain of Code for Tulsa. Carlos is also a board member for Smart Growth Tulsa.
        p 
          a(href="https://twitter.com/chimchim237") Twitter


