| Frank D. Evans is a Data Scientist with Exaptive. He primarily works with machine learning and feature engineering using big data systems, specializing in unstructured and semi-structured data. His interests span natural language processing, political analysis, and building semi-supervised machine learning applications. Frank has a BS in Quantitative Social Science from St. Gregory’s University and a Master’s Specialization in Data Science from Johns Hopkins University. 
| He is a co-founder and organizer of the Oklahoma City Big Data User Group.
