div.speaker-bullets
  a(href="https://twitter.com/frankdevans").speaker-bullet 
    i.fa.fa-twitter 
    label frankdevans
  a(href="https://github.com/frankdevans").speaker-bullet 
    i.fa.fa-github 
    label frankdevans
