| At the intersection of computer science and statistics lies machine learning, using applied statistics as a framework to let your application teach itself how to recognize patterns. This talk covers everything from simple regression analysis to natural language processing to deep neural network learning. Learn how to take advantage of one of the most powerful tools in the tech landscape.
