| Steve is the director of the front-end engineering program at the Turing School for Software and Design. Prior to Turing, he was a New York City public school teacher for seven years, where he taught special education, science, and—eventually—JavaScript to students in high-need schools in Manhattan, Brooklyn, and Queens. He's currently writing Electron in Action for Manning Publications.
