div.speaker-bullets
  a(href="https://twitter.com/stevekinney").speaker-bullet 
    i.fa.fa-twitter 
    label stevekinney
  a(href="https://github.com/stevekinney").speaker-bullet 
    i.fa.fa-github 
    label stevekinney  
  a(href="http://www.stevekinney.net/").speaker-bullet 
    i.fa.fa-globe 
    label stevekinney.net
