| I write web code at Mozilla.
| I organize some local tech communities:
ul  
  li Tulsa Web Devs' mission is to make Tulsa on of the greatest cities in the world for web developers.
  li Code for Tulsa is our Code for America Brigade.
  li Techlahoma is a sate-wide foundation to support grassroots technology communities.
| I owe all my best experiences to the open-source community and try to give back.
| I sometimes work on an open-source side project start-up: codesy.io.
| I sometimes brew my own beer.
