div.speaker-bullets
  a(href="https://twitter.com/groovecoder").speaker-bullet 
    i.fa.fa-twitter 
    label groovecoder
  a(href="https://github.com/groovecoder").speaker-bullet 
    i.fa.fa-github 
    label groovecoder  
  a(href="http://groovecoder.com/").speaker-bullet 
    i.fa.fa-globe 
    label groovecoder.com
