h2.section-title Where it&#8217;s at
p
  | Located at the
  a(href="http://www.coxconventioncenter.com/") Devon Boathouse
  |  in downtown Oklahoma City
iframe(width='100%', height='400px', frameBorder='0',  src='https://a.tiles.mapbox.com/v4/techlahoma.06k737jl/attribution,zoompan.html?access_token=pk.eyJ1IjoidGVjaGxhaG9tYSIsImEiOiJjaW9oeWU4bG4wMXMydWRtM2s5b2VhYXdrIn0.VS6-30R9qziwYmWs_oPqdA', id='map')
