h2.section-title Schedule
p Click on any schedule item to see details about the talk.
.schedule-legend
  span.legend-day1 Day 1
  span.legend-day2 Day 2

.schedule-list
  .schedule-time
    time 7:30am-9:00am
  .schedule-event
    p
      | Registration
  .schedule-time
    time 9:00am-9:30am
  .schedule-event
    p
      | Opening Announcements
  .schedule-time
    time 9:30am-10:30am
  .schedule-slot
    include ./speakers/women-in-tech-panel/entry.jade
    include ./speakers/civic-hacking-panel/entry.jade
  .schedule-time
    time 10:30am-11:30am
  .schedule-slot
    include ./speakers/frank-d-evans/entry.jade
    include ./speakers/james-simpson/entry.jade
  .schedule-time
    time 11:30am-1:00pm
  .schedule-event
    p
      | Lunch Break
  .schedule-time
    time 1:00pm-2:00pm
  .schedule-slot
    include ./speakers/luke-crouch/entry.jade
    include ./speakers/steve-kinney/entry.jade
  .schedule-time
    time 2:00pm-3:00pm
  .schedule-slot
    include ./speakers/rob-carr/entry.jade
    include ./speakers/adam-baldwin/entry.jade
  .schedule-time
    time 3:00pm-4:00pm
  .schedule-event
    p
      | Break
  .schedule-time
    time 4:00pm-5:00pm
  .schedule-slot
    include ./speakers/ben-ilegbodu/entry.jade
    include ./speakers/kent-c-dodds/entry.jade
  .schedule-time
    time 5:00pm-6:00pm
  .schedule-slot
    include ./speakers/kassandra-perch/entry.jade
    include ./speakers/example-keynote/entry.jade
