h2.section-title Scholarship Opportunity
.container
  p
    | Everyone should have the opportunity to learn and grow, so we're offering 10 free tickets to attend Thunder Plains.
    a(href="https://goo.gl/forms/HiFChNrkMYny39yu1") Click here to fill out the Scholarship Application Form.
