h2.section-title We &hearts; Our Sponsors
.container
  p &nbsp;
  .sponsors-list
    .row.vcenter
      .sponsor
        h2 Gold Sponsors
        br
        .col-md-6
          a.logo(href="https://www.compose.com/")
            img(alt="Compose - Cloud Hosted Databases" src="images/sponsors/compose.png" width="350")
            p T-Shirt Sponsor
        .col-md-6
          a.logo(href="https://rollbar.com/")
            img(alt="Rollbar - Full-stack error tracking" src="images/sponsors/rollbar.png" width="350")
            p Afterparty Sponsor
    .row.vcenter
      .sponsor
        .col-md-6
          a.logo(href="https://www.simple.com/")
            img(alt="Simple - Online Banking" src="images/sponsors/simple-logo.png" width="400")
            p Gold Sponsor

    br
    .row.vcenter
      .sponsor
        h2 Silver Sponsors
        br
        .col-md-4
          a.logo(href="https://www.dynatrace.com/")
            img(alt="DynaTrace" src="images/sponsors/dynatrace.png" width="250")
        .col-md-4
          a.logo(href="http://www.mobiletappestry.com/")
            img(alt="Mobile tAPPestry" src="images/sponsors/mobiletappestry.png" width="150")
        .col-md-4
          a.logo(href="https://www.ok.gov/ocast/")
            img(alt="OCAST" src="images/sponsors/ocast.png" width="250")

    br
    br
    .row.vcenter
      .sponsor
        h2 Bronze Sponsors
        br
        .col-md-4
          a.logo(href="https://www.roberthalf.com/")
            img(alt="Robert-Half Technology" src="images/sponsors/robert-half.jpg" width="250")
        .col-md-4
          a.logo(href="http://skywise.wdtinc.com")
            img(alt="WDT Skywise APIs" src="images/sponsors/skywise-horizontal.png" width="250")
        .col-md-4
          a.logo(href="https://www.remarq.io/")
            img(alt="Remarq.io" src="images/sponsors/remarq.png" width="250")
  hr
  p
    | Interested in Sponsoring Thunder Plains? Check out the
    a(href="files/2016ThunderPlainsSponsorshipProspectus.pdf") Sponsorship Prospectus
    | .
  p
    | Interested in Volunteering at Thunder Plains? Check out the
    a(href="https://docs.google.com/forms/d/1FvMkWYfVcyTFYTozbEmW-YXUw1BwLWHJsD8pkoXT65Q/viewform?c=0&w=1") Volunteer Signup Form
    | .
  br
  p
    | If you have any questions, please feel free to contact us via
    a(href="mailto:info@thunderplainsconf.com") email
    | or
    a(href="https://twitter.com/thunderplains") @ThunderPlains
    | on twitter.
