.container
  h2.section-title Tickets
  p There are 225 total tickets available for Thunder Plains (that's it!)
.container.tinytext
  p The first 25 "early bird tickets" (Lightning) are at a greatly discounted rate. Afterward, discounted tickets (Thunder) are available if purchased before October 25, so act quickly! For large groups, (5 or more) we are offering a group discount (Cluster). This is a great option for organizations who want to bring the whole team!
<script src='https://js.tito.io/v1' async></script>
<tito-widget event="techlahoma/thunder-plains-2016"></tito-widget>



