title: TV Day 1
date: 2016-10-27 10:17:28
layout: slideshow
---

section#sponsors-bronze.slide
  include slides/bronze-sponsors.jade

section#sponsors-silver.slide
  include slides/silver-sponsors.jade

section#gold-sponsor-simple.slide
  include slides/gold-sponsor-simple.jade

section#t-shirt-sponsor-compose.slide
  include slides/t-shirt-sponsor.jade

section#afterparty-sponsor.slide
  include slides/afterparty-sponsor.jade

section#schedule.slide.active
  include slides/day-one-schedule.jade