h2.section-title Videos
p
 | Check out some videos from last year
 a(href="http://2015.thunderplainsconf.com") Thunder Plains 2015
 .videoplayer.container
   iframe(src="https://www.youtube.com/embed/videoseries?list=PLdW0ayjzW_LAtW7k3Zdo-9tECv1LdKK5Q", frameborder="0", allowfullscreen)
