| James Simpson has spent the greater part of his life pushing the web forward by challenging what is possible in a browser. As founder of GoldFire Studios, he has focussed on real-time gaming, high scalability/performance and one of the largest HTML5 canvas games ever built. He is also passionate about open-source as the author of several projects, including the popular howler.js audio library.
