div.speaker-bullets
  a(href="https://twitter.com/GoldFireStudios").speaker-bullet 
    i.fa.fa-twitter 
    label GoldFireStudios
  a(href="http://goldfirestudios.com/").speaker-bullet 
    i.fa.fa-globe 
    label goldfirestudios.com
  a(href="https://github.com/goldfire").speaker-bullet 
    i.fa.fa-github 
    label goldfire 
